.TechContainer {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}

@media screen and (min-width: 1024px) {
  .TechContainer {
    height: 90%;
  }
}