.Background {
  display: flex;
  flex-direction: column;
  background-color: #FF7D00;
  width: 100%;
  height: 100%;
}

.CountdownContent {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 0 25px;
}

.CountdownWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}